<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>大戶的貓膩</title>
	<meta name="description" content="Sidebar Transitions: Transition effects for off-canvas views" />
	<meta name="keywords" content="transition, off-canvas, navigation, effect, 3d, css3, smooth" />
	<meta name="author" content="Codrops" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
</head>

<body>
	<div id="st-container" class="st-container">
		<nav class="st-menu st-effect-9" id="menu-9">
			<h2 class="icon icon-truck">大戶的貓膩</h2>
			<ul>
				<li><a class="icon icon-location" href="/shinbus-Taipei">每日盤後</a></li>
				<li><a class="icon icon-study" href="/Taipeibus-NewTaipei">外資投信同買</a></li>
				<li><a class="icon icon-study" href="/Taipeibus-NewTaipei">外資買賣超</a></li>
				<li><a class="icon icon-study" href="/Taipeibus-NewTaipei">外資投信買賣超</a></li>
				<li><a class="icon icon-study" href="/Taipeibus-NewTaipei">台幣匯率</a></li>
			</ul>
		</nav>

		<!-- content push wrapper -->
		<div class="st-pusher">
			<div class="st-content"><!-- this is the wrapper for the content -->
				<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
					<div id="st-trigger-effects" class="column">
						<button data-effect="st-effect-9">貓貓側邊欄</button>
						<form action="{{ url_for('display_company', company_name=company) }}" method="post">
							<!-- <form action="/shinbus" method="post"> -->
							<input type="date" id="date" name="date" class="form-control" placeholder="日期"
								value="2023-09-02">
							<!-- <label for="plateSelect">車牌:</label>
							<select id="plateSelect">
								{% for plate in plates %}
								<option value="{{ plate }}">{{ plate }}</option>
								{% endfor %}
							</select>
							<button type="button" class="btn btn-light" id="plateQueryButton">查詢</button> -->

							<!-- <input type="submit" value="查詢"> -->
							<!-- <label for="companySelect">時間:</label>
							<select class="form-select" id="hourSelect" aria-label="hour example">
								<option selected>Hour</option>
							</select> -->
							<!-- <button type="button" class="btn btn-light" id="hourQueryButton">查詢</button> -->

							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<!-- <th>時間</th> -->
												<!-- <th>公司</th> -->
												<th>車牌號碼</th>
												<th>時間</th>
											</tr>
										</thead>
										<tbody>
											{% for plate_data in plates_data %}
											<tr>
												<td>
													<!-- 注意這裡已經將車牌資料轉換為超連結格式 -->
													{{ plate_data['車牌號碼']|safe }}
												</td>
												<td>
													{% for hour_link in plate_data['hours'] %}
													{{ hour_link|safe }}<br>
													{% endfor %}
												</td>
											</tr>
											{% endfor %}
										</tbody>
										<!-- <tbody>
											{% for plate_data in plates_data %}
											<tr>
												<td>
													<a href="{{ url_for('query_plate', date=date, plate=plate_data['車牌號碼']) }}"
														class="plate-link">{{ plate_data['車牌號碼'] }}</a>
												</td>
												<td>
													{% for hour in plate_data['hours'] %} 
													{{ hour }}<br>
													{% endfor %}
												</td>
											</tr>
											{% endfor %}
										</tbody> -->
									</table>
								</div>
							</div>
						</form>

					</div>
					<div class="info">
						<!-- <p>If you enjoyed this demo you might also like:</p>
						<p><a href="http://tympanus.net/Development/HeaderEffects/">On Scroll Header Effects</a></p>
						<p><a href="http://tympanus.net/Development/PageTransitions/">A Collection of Page
								Transitions</a></p> -->
						<div class="container-fluid">
							<div style="width: 100%; height: 400px; max-width: 1000px ;margin-top: 20px;">
								<canvas id="lineChart"></canvas>
							</div>
							<div style="width: 100%; height: 400px; max-width: 1000px; margin-top: 20px;">
								<canvas id="secondLineChart"></canvas>
							</div>
							<div style="width: 100%; height: 400px; max-width: 1000px; margin-top: 20px;">
								<canvas id="thirdLineChart"></canvas>
							</div>

						</div>
					</div>
				</div><!-- /main -->
			</div><!-- /st-content-inner -->
		</div><!-- /st-content -->
	</div><!-- /st-pusher -->
	</div><!-- /st-container -->
	<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sidebarEffects.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
	<!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
	<script>
		var CompanyRoute = "{{ company }}";
		function sendDate() {
			let dateValue = $('#date').val();
			let targetURL = "/" + CompanyRoute;
			$.post(targetURL, { date: dateValue }, function (response) {
				console.log("Selected date:", response);
				// updatePlates(response);

				// Update the DataTable with the new data
				var table = $('#datatable').DataTable();
				table.clear(); // Clear the existing data
				table.rows.add(response); // Add the new data
				table.draw(); // Redraw the table
			});
		}

		$('#date').change(sendDate);
		$(document).ready(function () {
			var plateData = {{ plates_data | tojson | safe
		}};
		$('#datatable').DataTable({
			data: plateData,
			columns: [
				// {data: 'Time' },
				// {data: 'Company' },
				{ data: '車牌號碼' },
				{ data: 'hours' }
			],
			pageLength: 10 // 每頁限制筆數
		});

		// Variables
		var rawData = [];
		// var chart;
		var chartData1 = {
			labels: [],
			datasets: [
				{
					label: 'ActDCCur',
					data: [],
					borderColor: 'rgb(75, 192, 192)',
					fill: false,
					yAxisID: 'yActDCCur'
				},
				{
					label: 'ActDCVolt',
					data: [],
					borderColor: 'rgb(255, 99, 132)',
					fill: false,
					yAxisID: 'yActDCVolt'
				}
			]
		};
		var chartData2 = {
			labels: [],  // x-axis data, e.g., ["Jan", "Feb", "Mar"]
			datasets: [
				{
					label: 'ActDCCur',
					data: [],  // y-axis data for 'ActDCCur'
					borderColor: 'rgb(75, 192, 192)',
					backgroundColor: 'rgba(75, 192, 192, 0.2)',
					fill: false
				},
				{
					label: 'ActDCVolt',
					data: [],  // y-axis data for 'ActDCVolt'
					borderColor: 'rgb(255, 99, 132)',
					fill: false
				}
			]
		};

		var chartData3 = {
			datasets: [{
				label: 'ActDCCur vs ActDCVolt',
				data: [],
				borderColor: 'rgb(75, 192, 192)',
				backgroundColor: 'rgba(75, 192, 192, 0.2)',
				pointRadius: 5
			}]
		};

		function fetchDataByPlate() {
			var selectedCompany = $("#companySelect").val();
			var selectedBusPlate = $("#plateSelect").val();
			var selectedDate = $('#date').val();

			if (selectedBusPlate) {
				let url = `/query-plate/${selectedDate}/${selectedBusPlate}`;
				fetch(url)
					.then(response => response.json())
					.then(data => {
						rawData = data;
						updateChartData();
						// chart.update();
						// updateChartData2();
						// chart2.update();
					})
					.catch(error => {
						console.error('There was an error fetching the data:', error);
					});
			}
		}

		function fetchDataByHour() {
			var selectedBusPlate = $("#plateSelect").val();
			var selectedHour = $("#hourSelect").val();
			var selectedDate = $('#date').val(); // 不要忘記獲取日期！
			event.preventDefault(); // 阻止預設的跳轉行為

			if (selectedBusPlate && selectedHour !== "Hour") {
				let url = `/query-hour/${selectedDate}/${selectedBusPlate}/${selectedHour}`;
				fetch(url)
					.then(response => response.json())
					.then(data => {
						rawData = data;
						updateChartData2(data); // 更新 chart2 的資料
						chart2.update();
					})
					.catch(error => {
						console.error('There was an error fetching the data:', error);
					});
			}
		}

		$("#datatable").on("click", ".plate-link, .hour-link", function (event) {
			event.preventDefault(); // 阻止預設的跳轉行為

			let link = $(this).attr('href');
			fetch(link)
				.then(response => response.json())
				.then(data => {
					if ($(this).hasClass("plate-link")) {
						updateChartData(data);
						// 如果您需要在這裡更新chart，則取消以下的註釋
						// chart.update();
					} else if ($(this).hasClass("hour-link")) {
						updateChartData2(data);
						chart2.update();
					}
				})
				.catch(error => {
					console.error('There was an error fetching the data:', error);
				});
		});

		function updateChartData(data) {
			// 打印輸入的數據以進行檢查
			console.log("Data received:", data);

			// 如果 data 不是陣列，直接返回
			if (typeof data === 'string') {
				try {
					data = JSON.parse(data);
				} catch (e) {
					console.error("Failed to parse data:", e);
					return;
				}
			}

			// 更新 chartData1 和 chart1
			chartData1.labels = data.map(item => new Date(item.Time).toLocaleTimeString());
			chartData1.datasets[0].data = data.map(item => item.ActDCCur);
			chartData1.datasets[1].data = data.map(item => item.ActDCVolt);
			chart.update();

			// // 更新 chartData2 和 chart2
			// chartData2.labels = data.map(item => new Date(item.Time).toLocaleTimeString());
			// chartData2.datasets[0].data = data.map(item => item.ActDCCur);
			// chartData2.datasets[1].data = data.map(item => item.ActDCVolt);
			// chart2.update();

			// 更新 chartData3 和 chart3
			chartData3.datasets[0].data = data.map(item => ({
				x: item.ActDCCur,
				y: item.ActDCVolt
			}));
			chart3.update();
		}
		function updateChartData2(data) {
			console.log(data)
			chartData2.labels = data.map(item => new Date(item.Time).toLocaleTimeString());
			chartData2.datasets[0].data = data.map(item => item.ActDCCur);
			chartData2.datasets[1].data = data.map(item => item.ActDCVolt);
			chart2.update();
		}

		function updateChartData3(data) {
			chartData3.datasets[0].data = data.map(item => ({
				x: item.ActDCCur,
				y: item.ActDCVolt
			}));
			chart3.update();
		}

		// $("#plateQueryButton").click(fetchDataByPlate);
		// $("#hourQueryButton").click(fetchDataByHour);

		// Initialize Chart.js
		var ctx1 = $('#lineChart')[0].getContext('2d');
		chart = new Chart(ctx1, {
			type: 'line',
			data: chartData1,
			options: {
				responsive: true,
				maintainAspectRatio: false,
				scales: {
					'yActDCCur': {
						position: 'left',
						beginAtZero: true
					},
					'yActDCVolt': {
						type: 'linear',
						position: 'right',
						beginAtZero: true,
						grid: {
							drawOnChartArea: false,
						}
					}
				}
			}
		});
		var ctx2 = $('#secondLineChart')[0].getContext('2d');
		chart2 = new Chart(ctx2, {
			type: 'line',
			data: chartData2,
			options: {
				responsive: true,
				maintainAspectRatio: false,
				scales: {
					'yActDCCur': {
						position: 'left',
						beginAtZero: true
					},
					'yActDCVolt': {
						type: 'linear',
						position: 'right',
						beginAtZero: true,
						grid: {
							drawOnChartArea: false,
						}
					}
				}
			}
		});
		var ctx3 = $('#thirdLineChart')[0].getContext('2d');
		chart3 = new Chart(ctx3, {
			type: 'scatter',  // 使用散佈圖
			data: chartData3,
			options: {
				responsive: true,
				maintainAspectRatio: false,
				scales: {
					x: {
						type: 'linear',
						position: 'bottom',
						beginAtZero: true,
						title: {
							display: true,
							text: 'ActDCCur'
						}
					},
					y: {
						type: 'linear',
						position: 'left',
						beginAtZero: true,
						title: {
							display: true,
							text: 'ActDCVolt'
						}
					}
				}
			}
		});

		$("#plateSelect").change(function () {
			var selectedBusPlate = $(this).val();
			var selectedDate = $('#date').val(); // 获取当前选择的日期
			if (selectedBusPlate) {
				$.get(`/get-hours/${selectedDate}/${selectedBusPlate}`, function (data) {
					$("#hourSelect").empty().append('<option selected>Hour</option>');
					data.forEach(function (hour) {
						$("#hourSelect").append(`<option value="${hour}">${hour}</option>`);
					});
				});
			}
		});
		});
	</script>

</body>

</html>