{% extends "base.html" %}

{% block content %}
<div id="st-trigger-effects" class="column">
	<button data-effect="st-effect-9">貓貓側邊欄</button>
	<div>
		<input type="text" id="stockInput" placeholder="輸入四位數字">
		<button onclick="redirectToStockPage()">提交</button>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="datatable2" width="100%" cellspacing="0">
				<caption>三大法人每日盤後</caption>
				<thead>
					<tr>
						<th>單位名稱</th>
						<th>買賣差（億）</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
<div id="st-trigger-effects" class="column">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="datatable3" width="100%" cellspacing="0">
				<caption>外資未平倉</caption>
				<thead>
					<tr>
						<th>單位名稱</th>
						<th>多空淨額未平倉口數</th>
						<th>多空淨額未平倉契約金額</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
<div id="st-trigger-effects" class="column">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="datatable4" width="100%" cellspacing="0">
				<caption>台幣匯率（近6個月）</caption>
				<thead>
					<tr>
						<th>日期</th>
						<th>買進價</th>
						<th>賣出價</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	function redirectToStockPage() {
		var stockNumber = document.getElementById('stockInput').value;
		window.location.href = "https://norway.twsthr.info/StockHolders.aspx?stock=" + stockNumber;
	}

	$(document).ready(function () {
		var jsonData2 = {{ three_table | tojson | safe }};
		$('#datatable2').DataTable({
			data: JSON.parse(jsonData2),
			columns: [
				{ data: '單位名稱' },
				{ data: '買賣差' }
			],
			pageLength: 10
		});

		var jsonData3 = {{ futures_table | tojson | safe }};
		$('#datatable3').DataTable({
			data: JSON.parse(jsonData3),
			columns: [
				{ data: 'index' },
				{ data: '多空淨額未平倉口數' },
				{ data: '多空淨額未平倉契約金額' }
			],
			pageLength: 10
		});

		var jsonData4 = {{ ex_rate_table | tojson | safe }};
		$('#datatable4').DataTable({
			data: JSON.parse(jsonData4),
			columns: [
				{ data: 'date' },
				{ data: 'buy_rate' },
				{ data: 'sell_rate' }
			],
			order: [[0, 'desc']],
			pageLength: 10
		});
	});
</script>
{% endblock %}
